* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #007BFF;
}

header p {
    color: #666;
}

.donation-form h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

.donation-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.donation-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.donation-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.donation-form button:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
